body {
    background-color: whitesmoke;
}
.bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.thsize{
    width: 220px;
}
.body a{
    color: #eaa91f;
}
.body div{
    font-size: 14px;
    box-sizing: border-box;
    margin-left:15px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    display: inline;
    width: 100px;
    height: 100%;
}